<!DOCTYPE html>
<html>
    <header>
        <title> {{title}} </title>

    </header>

    <body>
        <style>
            div{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

        </style>
        <div>
            <img src="https://media.licdn.com/dms/image/v2/C4E0BAQGyVdZHqRl-eg/company-logo_200_200/company-logo_200_200/0/1675181023089/geektechkg_logo?e=2147483647&v=beta&t=v7IGVp-abixoht94rVXgY_AWKxOO-q917QVIlrvzT4Y" width="150px"
            height="150px" alt="">
            <h2> {{name}}</h2>
            <h5> {{info}}</h5>
            <p> {{bio}}</p>
        </div>

    </body>
</html>